# NYC Taxi Data Engineer Project <a name="overview"></a>

## Overview 
This project aims to develop a dimensional model for `NYC Taxi` dataset. By structuring the data into a dimensional model, perform data normalization, ingest data into `SQL Alchemy` tables.


- **Dateset**: [Yellow Tripdata 2024-Feb](https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page)
- **Data Dictionary**: [Yello Tripdata](https://www.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf)
- **Data Wrangling**: `Pandas` for transforming and shaping data.
- **Database Management**: `SQLAlchemy` for ORM-based interactions with SQL Server.

## Contributors
- [![LinkedIn](https://img.shields.io/badge/-Ziyad_Alshawi-blue?style=flat&logo=LinkedIn)](https://www.linkedin.com/in/zalshawi)
- [![LinkedIn](https://img.shields.io/badge/-Abdullah_Alqahtani-blue?style=flat&logo=LinkedIn)](https://www.linkedin.com/in/Abdullah-alqahtani-987b69197)

# Table of Contents

- [Overview](#overview)
- [Data Preparation](#data_preparation)
- [Data Normalization](#data_normalization)
- [Define SQL Alchemy schema](#sqlalchemy)
- [Insert Data into SQL Database](#Insert_data)

## Data Preparation<a name="data_preparation"></a>

#### Load libraries

In [1]:
import pandas as pd
import urllib
from sqlalchemy import create_engine, Column, Integer, String, Float, DateTime, ForeignKey, DATETIME
from sqlalchemy.orm import declarative_base, sessionmaker, relationship

#### Load Data

In [2]:
# Relative path for dataset
file_path = 'data/yellow_tripdata_2024-02.parquet'

# Load file into a DataFrame
df = pd.read_parquet(file_path)

# Display the few rows
df.head(3)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-02-01 00:04:45,2024-02-01 00:19:58,1.0,4.39,1.0,N,68,236,1,20.5,1.0,0.5,1.28,0.00,1.0,26.78,2.5,0.00
1,2,2024-02-01 00:56:31,2024-02-01 01:10:53,1.0,7.71,1.0,N,48,243,1,31.0,1.0,0.5,9.00,0.00,1.0,45.00,2.5,0.00
2,2,2024-02-01 00:07:50,2024-02-01 00:43:12,2.0,28.69,2.0,N,132,261,2,70.0,0.0,0.5,0.00,6.94,1.0,82.69,2.5,1.75

#### Data Cleaning and Preprocessing

In [3]:
# Remove duplicate if exist
df.drop_duplicates()

# Convert to datetime
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

# Calculate the duration by subtracting pickup datetime from dropoff datetime
df['trip_duration'] = df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']
df['trip_duration'] = df['trip_duration'].apply(lambda x: x.total_seconds())

## Data Normalization <a name="data_normalization"></a>

Split dataframe into fact table and dimensions.

![data_model](data_model.png)

#### Define Dimension DataFrames

In [4]:
dim_datetime_columns = ['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'trip_duration']

dim_datetime = df[dim_datetime_columns].drop_duplicates()

# Add foregin Key
dim_datetime['datetime_id'] = range(1, len(dim_datetime) + 1)

In [5]:
# Data Dectionary contain additional context

# Create Dim_Payment 
payment = {
    'payment_type': [1, 2, 3, 4, 5, 6], 
    'payment_type_name':['Credit card', 'Cash', 'No charge','Dispute', 'Unknown','Voided trip']
}


# Create Dim_Payment

rate_code = { 
    'RatecodeID': [1, 2, 3, 4, 5, 6], 
    'rate_code_name' : ["Standard rate", "JFK", "Newark", "Nassau or Westchester", "Negotiated fare", "Group ride"],
    'rate_code_description' : [
        "The default fare charged for trips within the standard service area.",
        "Applies to trips to or from John F. Kennedy International Airport.",
        "Applies to trips to or from Newark Liberty International Airport.",
        "Applies to trips to areas outside the standard service area.",
        "Special rates agreed upon between the passenger and the service provider.",
        "Applies to trips where multiple passengers share the ride, typically resulting in a discounted fare per person."
    ]
}

dim_payment = pd.DataFrame(payment)
dim_rate = pd.DataFrame(rate_code)

#### Define Fact DataFrame

In [6]:
# Create Fact Table for trips
fact_table = df.merge(dim_datetime, how='left', on=['tpep_pickup_datetime','tpep_dropoff_datetime', 'trip_duration']) \
               .merge(dim_payment, how='left', on='payment_type') \
               .merge(dim_rate, how='left', on='RatecodeID') \
               [['VendorID', 'datetime_id', 'payment_type',  'RatecodeID',
                 'PULocationID', 'DOLocationID','passenger_count', 'trip_distance', 'store_and_fwd_flag', 
                  'fare_amount', 'extra','mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
                  'total_amount', 'congestion_surcharge', 'Airport_fee']]

## Define SQLAlchemy Tables <a name="sqlalchemy"></a>

In [7]:
Base = declarative_base()

class FactTable(Base):
    __tablename__ = 'fact_table'
    Trip_id = Column(Integer, primary_key=True)
    VendorID = Column(Integer)
    datetime_id = Column(Integer, ForeignKey('dim_datetime.Datetime_id'))
    payment_type = Column(Integer, ForeignKey('dim_payment.payment_type'))
    RatecodeID = Column(Integer, ForeignKey('dim_rate.RatecodeID'))
    PULocationID = Column(Integer)
    DOLocationID = Column(Integer)
    trip_distance = Column(Float)
    passenger_count = Column(Integer)
    store_and_fwd_flag = Column(String)
    fare_amount = Column(Float)
    extra = Column(Float)
    mta_tax = Column(Float)
    tip_amount = Column(Float)
    tolls_amount = Column(Float)
    improvement_surcharge = Column(Float)
    congestion_surcharge = Column(Float)
    Airport_fee = Column(Float)
    total_amount = Column(Float)

class DimDatetime(Base):
    __tablename__ = 'dim_datetime'
    Datetime_id = Column(Integer, primary_key=True)
    tpep_pickup_datetime = Column(DateTime)
    tpep_dropoff_datetime = Column(DateTime)
    trip_duration = Column(Float)

class DimPayment(Base):
    __tablename__ = 'dim_payment'
    payment_type = Column(Integer, primary_key=True)
    payment_type_name = Column(String)

class DimRate(Base):
    __tablename__ = 'dim_rate'
    RatecodeID = Column(Integer, primary_key=True)
    rate_code_name = Column(String)
    rate_code_description = Column(String)

#### Prepare connection

Connect to SQL Server (Optional)

In [ ]:
# params = urllib.parse.quote_plus(f'DRIVER=ODBC Driver 17 for SQL Server;SERVER={server};DATABASE={database};UID={username};PWD={password}')

# # Create engine
# engine = create_engine(f'mssql+pyodbc:///?odbc_connect={params}', echo=True, future=True)

# # Generate table if not exist
# Base.metadata.create_all(engine)

Connect to SQLite

In [8]:
# Create an engine to the database
engine = create_engine('sqlite:///NYC_taxi.db', echo=True, future=True)

# Generate table if not exist
Base.metadata.create_all(engine)

2024-04-28 19:16:13,226 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-28 19:16:13,229 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("fact_table")
2024-04-28 19:16:13,230 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-28 19:16:13,234 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("fact_table")
2024-04-28 19:16:13,234 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-28 19:16:13,235 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("dim_datetime")
2024-04-28 19:16:13,236 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-28 19:16:13,237 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("dim_datetime")
2024-04-28 19:16:13,237 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-28 19:16:13,238 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("dim_payment")
2024-04-28 19:16:13,239 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-28 19:16:13,240 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("dim_payment")
2024-04-28 19:16:13,241 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-28 19:16:13,242 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("dim_rate")
2024-04-28 19:16:13,242 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-28 19:16:13,243 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("dim_rate")
2024-04-28 19:16:13,243 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-28 19:16:13,247 INFO sqlalchemy.engine.Engine
CREATE TABLE dim_datetime (
	"Datetime_id" INTEGER NOT NULL,
	tpep_pickup_datetime DATETIME,
	tpep_dropoff_datetime DATETIME,
	trip_duration FLOAT,
	PRIMARY KEY ("Datetime_id")
)


2024-04-28 19:16:13,248 INFO sqlalchemy.engine.Engine [no key 0.00072s] ()
2024-04-28 19:16:13,257 INFO sqlalchemy.engine.Engine
CREATE TABLE dim_payment (
	payment_type INTEGER NOT NULL,
	payment_type_name VARCHAR,
	PRIMARY KEY (payment_type)
)


2024-04-28 19:16:13,259 INFO sqlalchemy.engine.Engine [no key 0.00197s] ()
2024-04-28 19:16:13,269 INFO sqlalchemy.engine.Engine
CREATE TABLE dim_rate (
	"RatecodeID" INTEGER NOT NULL,
	rate_code_name VARCHAR,
	rate_code_description VARCHAR,
	PRIMARY KEY ("RatecodeID")
)


2024-04-28 19:16:13,270 INFO sqlalchemy.engine.Engine [no key 0.00072s] ()
2024-04-28 19:16:13,277 INFO sqlalchemy.engine.Engine
CREATE TABLE fact_table (
	"Trip_id" INTEGER NOT NULL,
	"VendorID" INTEGER,
	datetime_id INTEGER,
	payment_type INTEGER,
	"RatecodeID" INTEGER,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	trip_distance FLOAT,
	passenger_count INTEGER,
	store_and_fwd_flag VARCHAR,
	fare_amount FLOAT,
	extra FLOAT,
	mta_tax FLOAT,
	tip_amount FLOAT,
	tolls_amount FLOAT,
	improvement_surcharge FLOAT,
	congestion_surcharge FLOAT,
	"Airport_fee" FLOAT,
	total_amount FLOAT,
	PRIMARY KEY ("Trip_id"),
	FOREIGN KEY(datetime_id) REFERENCES dim_datetime ("Datetime_id"),
	FOREIGN KEY(payment_type) REFERENCES dim_payment (payment_type),
	FOREIGN KEY("RatecodeID") REFERENCES dim_rate ("RatecodeID")
)


2024-04-28 19:16:13,278 INFO sqlalchemy.engine.Engine [no key 0.00113s] ()
2024-04-28 19:16:13,286 INFO sqlalchemy.engine.Engine COMMIT

## Insert Data into SQL Database <a name="Insert_data"></a>

#### Create helper function to insert data

In [9]:
# Create a function to insert into SQLAlchemy table
def bulk_insert_from_dataframe(session, model, dataframe):
    """ Inserts data from a pandas DataFrame into a SQLAlchemy table using bulk_insert_mappings."""
    try:
        # Convert DataFrame to dictionary and perform bulk insert
        data_to_insert = dataframe.to_dict(orient='records')
        session.bulk_insert_mappings(model, data_to_insert)
        session.commit()
        print(f"Data successfully inserted into {model.__tablename__} table.")
    except Exception as e:
        session.rollback()
        print(f"An error occurred: {e}")

#### Ingest data to SQL tables

In [10]:
# Create session
Session = sessionmaker(bind=engine, future=True)
session = Session()

# Example of inserting data into tables
bulk_insert_from_dataframe(session, FactTable, fact_table)
bulk_insert_from_dataframe(session, DimDatetime, dim_datetime)
bulk_insert_from_dataframe(session, DimPayment, dim_payment)
bulk_insert_from_dataframe(session, DimRate, dim_rate)


# Close the session after all operations
session.close()

2024-04-28 19:18:06,479 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-28 19:19:21,768 INFO sqlalchemy.engine.Engine INSERT INTO fact_table ("VendorID", datetime_id, payment_type, "RatecodeID", "PULocationID", "DOLocationID", trip_distance, passenger_count, store_and_fwd_flag, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, congestion_surcharge, "Airport_fee", total_amount) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-04-28 19:19:21,838 INFO sqlalchemy.engine.Engine [generated in 34.27708s] [(2, 1, 1, 1.0, 68, 236, 4.39, 1.0, 'N', 20.5, 1.0, 0.5, 1.28, 0.0, 1.0, 2.5, 0.0, 26.78), (2, 2, 1, 1.0, 48, 243, 7.71, 1.0, 'N', 31.0, 1.0, 0.5, 9.0, 0.0, 1.0, 2.5, 0.0, 45.0), (2, 3, 2, 2.0, 132, 261, 28.69, 2.0, 'N', 70.0, 0.0, 0.5, 0.0, 6.94, 1.0, 2.5, 1.75, 82.69), (1, 4, 1, 1.0, 161, 163, 1.1, 1.0, 'N', 9.3, 3.5, 0.5, 2.85, 0.0, 1.0, 2.5, 0.0, 17.15), (1, 5, 2, 1.0, 246, 79, 2.6, 1.0, 'N', 15.6, 3.5, 0.5, 0.0, 0.0, 1.0, 2.5, 0.0, 20.6), (1, 6, 1, 1.0, 79, 4, 0.8, 1.0, 'N', 7.9, 3.5, 0.5, 2.55, 0.0, 1.0, 2.5, 0.0, 15.45), (2, 7, 1, 1.0, 249, 163, 2.76, 1.0, 'N', 14.2, 1.0, 0.5, 3.84, 0.0, 1.0, 2.5, 0.0, 23.04), (2, 8, 1, 1.0, 163, 151, 2.51, 1.0, 'N', 12.8, 1.0, 0.5, 3.56, 0.0, 1.0, 2.5, 0.0, 21.36)  ... displaying 10 of 2821916 total bound parameter sets ...  (1, 2784505, 1, 1.0, 142, 48, 1.5, 4.0, 'N', 9.3, 3.5, 0.5, 0.0, 0.0, 1.0, 2.5, 0.0, 14.3), (1, 2784506, 1, 1.0, 114, 264, 0.6, 1.0, 'N', 6.5, 3.5, 0.5, 0.0, 0.0, 1.0, 2.5, 0.0, 11.5)]
2024-04-28 19:19:40,179 INFO sqlalchemy.engine.Engine INSERT INTO fact_table ("VendorID", datetime_id, payment_type, "RatecodeID", "PULocationID", "DOLocationID", trip_distance, passenger_count, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, congestion_surcharge, "Airport_fee", total_amount) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-04-28 19:19:40,182 INFO sqlalchemy.engine.Engine [generated in 1.03431s] [(1, 2784507, 0, nan, 161, 229, 0.0, nan, 7.83, 0.0, 0.5, 0.0, 0.0, 1.0, nan, nan, 11.83), (1, 2784508, 0, nan, 231, 239, 0.0, nan, 24.0, 2.0, 0.5, 12.05, 0.0, 1.0, nan, nan, 44.05), (1, 2784509, 0, nan, 239, 161, 0.0, nan, 9.95, 0.0, 0.5, 0.0, 0.0, 1.0, nan, nan, 13.95), (2, 2784510, 0, nan, 114, 107, 0.81, nan, 6.83, 0.0, 0.5, 0.0, 0.0, 1.0, nan, nan, 10.83), (1, 2784511, 0, nan, 231, 249, 1.9, nan, 10.16, 0.0, 0.5, 0.0, 0.0, 1.0, nan, nan, 14.16), (2, 2784512, 0, nan, 239, 230, 2.39, nan, 12.96, 0.0, 0.5, 0.0, 0.0, 1.0, nan, nan, 16.96), (2, 2784513, 0, nan, 170, 50, 2.45, nan, 13.91, 0.0, 0.5, 0.0, 0.0, 1.0, nan, nan, 17.91), (2, 2784514, 0, nan, 231, 249, 1.41, nan, 11.74, 0.0, 0.5, 1.57, 0.0, 1.0, nan, nan, 17.31)  ... displaying 10 of 185610 total bound parameter sets ...  (1, 2969922, 0, nan, 164, 107, 0.0, nan, 14.37, 0.0, 0.5, 0.0, 0.0, 1.0, nan, nan, 18.37), (2, 2969923, 0, nan, 79, 142, 3.94, nan, 28.6, 0.0, 0.5, 0.0, 0.0, 1.0, nan, nan, 32.6)]
2024-04-28 19:19:45,268 INFO sqlalchemy.engine.Engine COMMIT
Data successfully inserted into fact_table table.
2024-04-28 19:20:07,338 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-28 19:20:43,348 INFO sqlalchemy.engine.Engine INSERT INTO dim_datetime (tpep_pickup_datetime, tpep_dropoff_datetime, trip_duration) VALUES (?, ?, ?)
2024-04-28 19:20:43,349 INFO sqlalchemy.engine.Engine [generated in 23.98084s] [('2024-02-01 00:04:45.000000', '2024-02-01 00:19:58.000000', 913.0), ('2024-02-01 00:56:31.000000', '2024-02-01 01:10:53.000000', 862.0), ('2024-02-01 00:07:50.000000', '2024-02-01 00:43:12.000000', 2122.0), ('2024-02-01 00:01:49.000000', '2024-02-01 00:10:47.000000', 538.0), ('2024-02-01 00:37:35.000000', '2024-02-01 00:51:15.000000', 820.0), ('2024-02-01 00:55:17.000000', '2024-02-01 01:01:53.000000', 396.0), ('2024-02-01 00:04:53.000000', '2024-02-01 00:17:07.000000', 734.0), ('2024-02-01 00:35:00.000000', '2024-02-01 00:43:37.000000', 517.0)  ... displaying 10 of 2969923 total bound parameter sets ...  ('2024-02-29 23:12:06.000000', '2024-02-29 23:21:53.000000', 587.0), ('2024-02-29 23:16:42.000000', '2024-02-29 23:37:45.000000', 1263.0)]
2024-04-28 19:20:49,778 INFO sqlalchemy.engine.Engine COMMIT
Data successfully inserted into dim_datetime table.
2024-04-28 19:20:50,540 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-28 19:20:50,543 INFO sqlalchemy.engine.Engine INSERT INTO dim_payment (payment_type, payment_type_name) VALUES (?, ?)
2024-04-28 19:20:50,544 INFO sqlalchemy.engine.Engine [generated in 0.00149s] [(1, 'Credit card'), (2, 'Cash'), (3, 'No charge'), (4, 'Dispute'), (5, 'Unknown'), (6, 'Voided trip')]
2024-04-28 19:20:50,550 INFO sqlalchemy.engine.Engine COMMIT
Data successfully inserted into dim_payment table.
2024-04-28 19:20:50,560 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-28 19:20:50,562 INFO sqlalchemy.engine.Engine INSERT INTO dim_rate ("RatecodeID", rate_code_name, rate_code_description) VALUES (?, ?, ?)
2024-04-28 19:20:50,564 INFO sqlalchemy.engine.Engine [generated in 0.00178s] [(1, 'Standard rate', 'The default fare charged for trips within the standard service area.'), (2, 'JFK', 'Applies to trips to or from John F. Kennedy International Airport.'), (3, 'Newark', 'Applies to trips to or from Newark Liberty International Airport.'), (4, 'Nassau or Westchester', 'Applies to trips to areas outside the standard service area.'), (5, 'Negotiated fare', 'Special rates agreed upon between the passenger and the service provider.'), (6, 'Group ride', 'Applies to trips where multiple passengers share the ride, typically resulting in a discounted fare per person.')]
2024-04-28 19:20:50,569 INFO sqlalchemy.engine.Engine COMMIT
Data successfully inserted into dim_rate table.

#### Ingest data to SQL Server (optional)

In [ ]:
# Base.metadata.create_all(engine)


# # Create session
# Session = sessionmaker(bind=engine, future=True)
# session = Session()

# # Example of inserting data into tables
# bulk_insert_from_dataframe(session, FactTable, fact_table)
# bulk_insert_from_dataframe(session, DimDatetime, dim_datetime)
# bulk_insert_from_dataframe(session, DimPayment, dim_payment)
# bulk_insert_from_dataframe(session, DimRate, dim_rate)


# # Close the session after all operations
# session.close()

2024-04-28 16:34:01,489 INFO sqlalchemy.engine.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2024-04-28 16:34:01,490 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-28 16:34:01,501 INFO sqlalchemy.engine.Engine SELECT schema_name()
2024-04-28 16:34:01,502 INFO sqlalchemy.engine.Engine [generated in 0.00090s] ()
2024-04-28 16:34:01,527 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2024-04-28 16:34:01,528 INFO sqlalchemy.engine.Engine [generated in 0.00090s] ()
2024-04-28 16:34:01,533 INFO sqlalchemy.engine.Engine SELECT 1 FROM fn_listextendedproperty(default, default, default, default, default, default, default)
2024-04-28 16:34:01,534 INFO sqlalchemy.engine.Engine [generated in 0.00090s] ()
2024-04-28 16:34:01,560 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-28 16:34:01,563 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-04-28 16:34:01,564 INFO sqlalchemy.engine.Engine [generated in 0.00086s] ('BASE TABLE', 'VIEW', 'fact_table', 'dbo')
2024-04-28 16:34:01,577 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-04-28 16:34:01,578 INFO sqlalchemy.engine.Engine [cached since 0.01514s ago] ('BASE TABLE', 'VIEW', 'dim_datetime', 'dbo')
2024-04-28 16:34:01,589 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-04-28 16:34:01,590 INFO sqlalchemy.engine.Engine [cached since 0.02665s ago] ('BASE TABLE', 'VIEW', 'dim_payment', 'dbo')
2024-04-28 16:34:01,601 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-04-28 16:34:01,602 INFO sqlalchemy.engine.Engine [cached since 0.03899s ago] ('BASE TABLE', 'VIEW', 'dim_rate', 'dbo')
2024-04-28 16:34:01,613 INFO sqlalchemy.engine.Engine COMMIT
2024-04-28 16:34:21,860 INFO sqlalchemy.engine.Engine BEGIN (implicit)

## Future Work
- Implement data quality checks
- Implement log table to monitor ingestion process